<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% block seo %}

  {% endblock %}
  <meta name="google-site-verification" content="ZySgsJLVd3FICmsghm5E_E07t4biPRbwHBLl2Og5y7o" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="shortcut icon" href="{% static 'loader/toc.ico' %}" type="image/x-icon">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
  <script assync='async' src='//platform-api.sharethis.com/js/sharethis.js#property=61c01ac846f67d00196e85f0&product=sticky-share-buttons' type='text/javascript'></script>  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GHTJKJR048"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GHTJKJR048');
</script>
</head>

<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light custom-menu"> 
    <a class="navbar-brand font-weight-bold mr-5 ml-2" href="/"><img src="{% static 'loader/Easy-Converter-Logo.png' %}" alt="Easy Converter" id="logo" class='img-responsive'>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto font-weight-bold" id="menu-css">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stringConverter' %}">String Converters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'numberConverter' %}">Number Converter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tempConverter' %}">Temp Converter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/online-hash-generator-tools">Hash Converter</a>
        </li>
      </ul>

    </div>
  </nav>
</div>

  <main>
    {% block body %} {% block left_adsense %}{} {% endblock left_adsense %} {% block right_adsense %}{} {% endblock right_adsense %} {% endblock body %}
</main>

<!-- ***************** -->

{% block footer %}{% include 'footer.html' %} {% endblock %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  <script src="{% static 'index.js' %}"></script>
  <script src="{% static 'converter.js' %}"></script>
  <script>
    new ClipboardJS('.btn');
  </script>
</body>

</html>
