
<!-- Footer -->
<footer class="footer page-footer font-small blue-grey lighten-5" style="background-color: #15212a;color: white;">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <p>
          <a href="/blog">Blog</a>
        </p>
        <p>
          <a href="/about">About</a>
        </p>
        <p>
          <a href="/sitemap.xml">Sitemap</a>
        </p>
        <p>
          <a href="/contact-us">Contact</a>
        </p>
        <p>
          <a href="/privacy-policy">Privacy Policy</a>
        </p>
        <p>
          <a href="/terms-and-condition">Terms and Condition</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Tools</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <p>
          <a href="{% url 'stringConverter' %}">String Converter</a>
        </p>
        <p>
          <a href="{% url 'numberConverter' %}">Number Converter</a>
        </p>
        <p>
          <a href="{% url 'tempConverter' %}">Temprature Converter</a>
        </p>
        <p>
          <a href="{% url 'all_hash_generator_page' %}">Hash Generator</a>
        </p>
        <p>
          <a href="/converter/frequency-converter">Pressure Converter</a>
        </p>
        <p>
          <a href="/converter/length-converter">Angle Converter</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Tools</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <p>
          <a href="/converter/time-converter">Time Converter</a>
        </p>
        <p>
          <a href="/converter/speed-converter">Speed Converter</a>
        </p>
        <p>
          <a href="/converter/power-converter">Power Converter</a>
        </p>
        <p>
          <a href="/converter/frequency-converter">Frequency Converter</a>
        </p>
        <p>
          <a href="/converter/length-converter">Length Converter</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
       
        <h6 class="text-uppercase font-weight-bold">About</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <p>The Easy Converter is a free online converter tool that provides tool like unit converter, string converter, number converter, hash generator, password generator, etc.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="/"> Easy Converter</a>
  </div>
  <!-- Copyright -->

</footer>



