
<!-- Footer -->
<footer class="footer page-footer font-small blue-grey lighten-5" style="background-color: #15212a;color: white;">


  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5 p-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <!-- <p>
          <a href="/blog">Blog</a>
        </p> -->
        <p>
          <a href="/about">About</a>
        </p>
        <p>
          <a href="/sitemap.xml">Sitemap</a>
        </p>
        <p>
          <a href="/contact-us">Contact</a>
        </p>
        <p>
          <a href="/privacy-policy">Privacy Policy</a>
        </p>
        <p>
          <a href="/terms-and-condition">Terms and Condition</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Tools</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <p>
          <a href="{% url 'stringConverter' %}">String Converter</a>
        </p>
        <p>
          <a href="{% url 'numberConverter' %}">Number Converter</a>
        </p>
        <p>
          <a href="{% url 'tempConverter' %}">Temprature Converter</a>
        </p>
        <p>
          <a href="{% url 'all_hash_generator_page' %}">Hash Generator</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
       
        <h6 class="text-uppercase font-weight-bold">About</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="height: 3px;background-color: #ff4c23; width: 60px;">
        <p>The Easy Converter is a free online converter tool that provides tool like unit converter, string converter, number converter, hash generator, password generator, etc.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="/"> Easy Converter</a>
  </div>
  <!-- Copyright -->

</footer>



