

{% extends 'base.html' %}
{% block title %}Hexadecimal to String Online Converter Tool{% endblock %}
{% block menu %}{% include 'menu.html' %} {% endblock %}
{% block footer %}{% include 'footer.html' %} {% endblock %}
{% block body %}
<div class="container-fluid mt-5">
    <div class="col-xl-12 text-center">
        <a href="{% url 'Index2' %}" class="font-weight-bold text-center">Home</a> <i
            class="fas fa-arrow-circle-right"></i><a href="{% url 'stringConverter' %}"
            class="font-weight-bold"> All String Tools </a><i class="fas fa-arrow-circle-right"></i> 
        <p class="font-weight-bold d-inline">Hexadecimal to String Online Converter Tool</p>

    </div>
    <hr>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-12 text-center">
            <h1 class="text-center">Hexadecimal to String Online Converter Tool</h1>
            <p class="text-center">This Tool Will Help you to convert Hexadecimal to String.</p>
        </div>
        <div class="col-xl-8 offset-xl-2">
            <div class="form-group m-3">
                <label for="exampleFormControlTextarea1" class="font-weight-bold">Write String Here.</label>
                <textarea class="form-control shadow-none border border-dark" id="exampleFormControlTextarea1" rows="8" name="wordType" placeholder="Write String Here"  spellcheck="false"></textarea>
               
              </div>
        </div>
   <div class="col-xl-12">
    <center>
        <button id="btn" class="btn btn-success shadow-none" onclick="hextoString()">Convert</button>
        
        <button id="clear" class="btn btn-danger shadow-none">Clear</button>
        <button id="clear" class="btn btn-dark shadow-none" onclick="Reload()">Refresh</button>
        
    </center>
    
    <div class="col-xl-8 offset-xl-2 mt-2">
        
        <textarea class="form-control shadow-none border border-dark mb-5" id="results" rows="5" name="wordType" placeholder="Output" spellcheck="false"></textarea>
       
    </div>
   </div>

        

    </div>
</div>




{% endblock %}