
{% extends 'base.html' %}
{% block title %}Easy Converter - Best Online Converter Tool {% endblock %}

{% load static %}

{% block seo %}
<meta name="title" content="Easy Converter - Best Online Converter Tool">
<meta name="description" content="Easy Converter tools are online tools that provide free unit converter, string converter, encoder and decoder, and DateTime converter, etc.">
<meta name="keywords" content="Easy Converter, Online free converter, Online unit converter tool, Online string converter tool">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        
            <div class="col-xl-12 header">
                <h2 class="text-center text-white font-weight-bold mt-5"> - Online Converter Tools - </h2>
                <p class="text-center"><b>www.easyconverter.info</b></p>
            </div>
        
    </div>
</div>
<div class="container mb-5 p-5 rounded" style="margin-top: -50px;opacity: 0.9999;background-color: #f7fafc">
    <center> 
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card my-2 p-2 first-row hvr-glow" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Length Converter</h5>

                    <p class="card-text mb-4">All length unit converter tools on one place.</p>
                    <a href="converter/length-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card mx-auto my-2 p-2 first-row hvr-float-shadow" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Volume Converter</h5>

                    <p class="card-text mb-4">Best online volume unit converter tools.</p>
                    <a href="converter/volume-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 first-row hvr-float-shadow" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Time Converter</h5>

                    <p class="card-text mb-4">All type of time unit converter tools.</p>
                    <a href="converter/time-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 first-row hvr-glow" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Frequency Converter</h5>

                    <p class="card-text mb-4">All frequency unit converter on one place.</p>
                    <a href="converter/frequency-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
    </div>
    <hr>
    
   <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 second-row hvr-curl-bottom-right" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Angle Converter</h5>

                    <p class="card-text mb-4">Explore best angle unit converter tools here.</p>
                    <a href="converter/angle-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-12">
            <div class="card mx-auto my-2 p-2 second-row hvr-curl-bottom-right" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Speed Converter</h5>

                    <p class="card-text mb-4">Online speed unit converter tools.</p>
                    <a href="/converter/speed-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 second-row hvr-curl-bottom-right" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Pressure Converter</h5>

                    <p class="card-text mb-4">All type of pressure unit converter available here.</p>
                    <a href="converter/pressure-coverter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 second-row hvr-curl-bottom-right" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Energy Converter</h5>

                    <p class="card-text mb-4">Best online energy unit converter here.</p>
                    <a href="converter/energy-converter" class="card-link alert alert-info mt-4 font-weight-bold mybtn">Click Here <i
                            class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 third-row" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">String Converter</h5>

                    <p class="card-text mb-4">Best online string converter tools.</p>
                    <a href="{% url 'stringConverter' %}" class="card-link alert alert-info font-weight-bold mybtn hvr-pulse-grow">Click Here
                        <i class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 third-row" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Mass Converter</h5>

                    <p class="card-text mb-4">All types of mass unit converter available here.</p>
                    <a href="converter/mass-converter" class="card-link alert alert-info font-weight-bold mybtn hvr-pulse-grow">Click Here
                        <i class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>

        
            <div class="col-xl-3 col-md-6">
                <div class="card mx-auto my-2 p-2 third-row" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fuel Converter</h5>

                        <p class="card-text mb-4">Explore best online fuel unit converter tools.</p>
                        <a href="converter/fuel-converter" class="card-link alert alert-info font-weight-bold mybtn hvr-pulse-grow">Click Here
                            <i class="fas fa-arrow-circle-right"></i> </a>

                    </div>
                </div>
            </div>
        
        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 third-row" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Area Converter</h5>

                    <p class="card-text mb-4">Online area unit converter tools.</p>
                    <a href="converter/area-converter" class="card-link alert alert-info font-weight-bold mybtn hvr-pulse-grow">Click Here
                        <i class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>
    </div> 
    <hr>
    <div class="row">

        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 fourth-row hvr-grow-rotate" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Number Converter</h5>

                    <p class="card-text mb-4">Best online number related tools.</p>
                    <a href="{% url 'numberConverter' %}" class="card-link alert alert-info font-weight-bold mybtn ">Click Here
                        <i class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6">
            <div class="card mx-auto my-2 p-2 fourth-row hvr-grow-shadow" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Temp Converter</h5>
                    <p class="card-text mb-4">Best temprature unit converter tool.</p>
                    <a href="{% url 'tempConverter' %}" class="card-link alert alert-info font-weight-bold mybtn ">Click Here
                        <i class="fas fa-arrow-circle-right"></i> </a>

                </div>
            </div>
        </div>

        
            <div class="col-xl-3 col-md-6">
                <div class="card mx-auto my-2 p-2 fourth-row hvr-grow-shadow" style="width: 16rem;">
                    <div class="card-body">
                        <h5 class="card-title">Hash Generator</h5>
                        <p class="card-text mb-4">Best online hash generator tool.</p>
                        <a href="/online-hash-generator-tools" class="card-link alert alert-info font-weight-bold mybtn ">Click Here
                            <i class="fas fa-arrow-circle-right"></i> </a>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mx-auto my-2 p-2 fourth-row hvr-grow-rotate" style="width: 16rem;">
                    <div class="card-body">
                        <h6 class="card-title">Data Transfer Converter</h6>

                        <p class="card-text mb-4">Data transfer rate unit converter tools.</p>
                        <a href="converter/data-transfer-converter" class="card-link alert alert-info font-weight-bold mybtn ">Click Here
                            <i class="fas fa-arrow-circle-right"></i> </a>

                    </div>
                </div>
            </div>
        
      
    </div> 
</center>
</div>

{% endblock %}