{% extends 'base.html' %}
{% block title %} Best Online Password Generator - Easy Converter{% endblock %}
{% block menu %}{% include 'menu.html' %} {% endblock %}
{% block footer %}{% include 'footer.html' %} {% endblock %}
{% block seo %}
<meta name="title" content="Best Online Password Generator - Easy Converter">
<meta name="description" content="Our online password generator tool allow you to generate more secure password for your accounts.">
<meta name="keywords" content="Easy Converter, online character counter tool, free character counter tool">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}
{% block body %}
<div class="container-fluid mt-5">
    <div class="container-fluid mt-5">
        <div class="col-xl-12 text-center">
            <a href="{% url 'Index2' %}" class="font-weight-bold text-center">Home</a> <i
                class="fas fa-arrow-circle-right"></i><a href="{% url 'stringConverter' %}"
                class="font-weight-bold"> All String Tools </a><i class="fas fa-arrow-circle-right"></i> 
            <p class="font-weight-bold d-inline">Best Online Password Generator  </p>
    
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-xl-12 text-center">
            <h4 class="text-center">Best Online Password Generator</h4>
            <p class="text-center">Secure Your Accounts With Strong Password.</p>
        </div>
        <div class="col-xl-6 offset-xl-3 col-md-6 offset-md-3">
            <div class="form-group m-3">
                
                <textarea class="form-control shadow-none border border-dark" style="resize:none;"id="exampleFormControlTextarea1" rows="2"
                    name="wordType" placeholder="Your Password Will Show Here" spellcheck="false"></textarea>

            </div>
            <div class="form-group form-check mt-2 text-center">
                <input type="checkbox" class="form-check-input" id="upper">
                <label class="form-check-label" for="exampleCheck1">Include Upper Case ( A-Z ) in Password </label>
            </div>
            <div class="form-group form-check mt-2 text-center">
                <input type="checkbox" class="form-check-input" id="lower">
                <label class="form-check-label" for="exampleCheck1">Include Lower Case ( a-z ) in Password </label>
            </div>
            <div class="form-group form-check mt-2 text-center">
                <input type="checkbox" class="form-check-input" id="digits">
                <label class="form-check-label" for="exampleCheck1">Include Digits ( 0-9 ) in Password </label>
            </div>
            <div class="form-group form-check mt-2 text-center">
                <input type="checkbox" class="form-check-input" id="symbols">
                <label class="form-check-label" for="exampleCheck1">Include Symbols in Password </label>
            </div>
        </div>
        <div class="col-xl-12 mb-5">
            <center>
                <button id="btn" class="btn btn-success shadow-none" onclick="passGenerate()">Generate</button>
                <button class="btn btn-info shadow-none" data-clipboard-target="#exampleFormControlTextarea1">Copy Password</button>
                <button id="passclear" class="btn btn-danger shadow-none">Clear</button>
                
                <button id="clear" class="btn btn-dark shadow-none" onclick="Reload()">Refresh</button>
            </center>


        </div>



    </div>
</div>

{% endblock %}