
{% extends 'base.html' %}
{% load static %}
{% block title %} Online String Reverse Tool - Easy Converter {% endblock %}
{% block menu %}{% include 'menu.html' %} {% endblock %}
{% block footer %}{% include 'footer.html' %} {% endblock %}
{% block seo %}
<meta name="title" content="Online String Reverse Converter - Easy Converter">
<meta name="description" content="Our online string reverse tool allow you to reverse your string.">
<meta name="keywords" content="Easy Converter, online string reverse tool, free character reverse tool">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
{% endblock %}
{% block body %}
<div class="container-fluid mt-5">
    <div class="col-xl-12 text-center">
        <a href="{% url 'Index2' %}" class="font-weight-bold text-center">Home</a> <i
            class="fas fa-arrow-circle-right"></i><a href="{% url 'stringConverter' %}"
            class="font-weight-bold"> All String Tools </a><i class="fas fa-arrow-circle-right"></i> 
        <p class="font-weight-bold d-inline">Online String Reverse Tool</p>

    </div>
    <hr>
</div>
<div class="container-fluid mt-5">
    <div class="row">

        <div class="col-xl-12 text-center">
            <h1 class="text-center">Online String Reverse Tool</h1>
            <p class="text-center">If you have bulk string, Then this tool will help you to reverse whole strings.</p>
        </div>

        <div class="col-xl-8 offset-xl-2">

            <div class="form-group m-3">
                <label for="exampleFormControlTextarea1" class="font-weight-bold">Type Your string in Text
                    Area</label>
                <textarea class="form-control shadow-none border border-dark" id="exampleFormControlTextarea1" rows="10"
                     name="wordType" placeholder="Type/Paste your string here"></textarea>
            </div>
            <center>
                <button id="btn" class="btn btn-success shadow-none mb-5" onclick="stringReverse()">Reverse
                    String</button>
                <button id="clear" class="btn btn-danger shadow-none mb-5" onclick="Clear()">Clear</button>
                <button id="btn" class="btn btn-info shadow-none mb-5" onclick="hello()"
                    data-clipboard-target="#exampleFormControlTextarea1">Copy To Clipboard</button>
            </center>
            <div class="content">
                <h2>What is online string reverse tool?</h2>
                <p><b>Ans:- </b>Our string reverse tool, allow you to reverse your string in just one click.
                    .</p><br><p>You can see following example for better understanding.</p>
                    <b>Example:</b><br>
                <p>Easy Converter <i class="fas fa-arrow-circle-right"></i> retrevnoc enilno pot</p>
                <hr>
                
                <h2>Are this tool is free?</h2>
                <p><b>Ans:- </b><b>Yes</b>, Our online lower case to upper case converter is completely free. You don't need to pay for using this.</p>
            </div>
        </div>



        <div class="col-xl-12">
          

        </div>




    </div>
</div>




{% endblock %}