<div class="col-xl-4 text-center">
    
    <p class="alert alert-success text-center"><b>Online String Converer Tools</b></p>
    <div class="m-1">
        <a href="{% url 'charCount' %}" class="badge badge-success">Character Counter</a>
    <a href="{% url 'Password' %}" class="badge badge-success">Password Generator</a>
    <a href="{% url 'wordCount' %}" class="badge badge-success">Word Counter</a>
    <a href="{% url 'lowerCase' %}" class="badge badge-success">Lower to Upper Case Converter</a>
    <a href="{% url 'upperCase' %}" class="badge badge-success">Upper Case to Lower Case Converter</a>
    <a href="{% url 'stringReverse' %}" class="badge badge-success">String Reverse</a>
    <a href="{% url 'wordsReverse' %}" class="badge badge-success">Word Reverse</a>
    <a href="{% url 'bintoOct' %}" class="badge badge-success">Binary to Octal</a>
    <a href="{% url 'bintoHex' %}" class="badge badge-success">Binary to Hexadecimal</a>
    <a href="{% url 'bintoDec' %}" class="badge badge-success">Binary to Decimal</a>
    <a href="{% url 'dectoBin' %}" class="badge badge-success">Decimal to Binary</a>
    <a href="{% url 'dectoHex' %}" class="badge badge-success">Decimal to Hexadecimal</a>
    <a href="{% url 'dectoOct' %}" class="badge badge-success">Decimal to Octal</a>
    <a href="{% url 'hextoDec' %}" class="badge badge-success">Hexadecimal to Decimal</a>
    <a href="{% url 'hextoBin' %}" class="badge badge-success">Hexadecimal to Binary</a>
    <a href="{% url 'hextoOct' %}" class="badge badge-success">Hexadecimal to Octal</a>
    <a href="{% url 'htmlEncode' %}" class="badge badge-success">HTML Encoder</a>
    <a href="{% url 'htmlDecode' %}" class="badge badge-success">HTML Decoder</a>
    <a href="{% url 'stringtoBin' %}" class="badge badge-success">String to Binary</a>
    <a href="{% url 'bintoString' %}" class="badge badge-success">Binary to String</a>
    <a href="{% url 'stringtoHex' %}" class="badge badge-success">String to Hexadecimal</a>
    <a href="{% url 'hextoString' %}" class="badge badge-success">Hexadecimal to String</a>
    <a href="{% url 'urlEncode' %}" class="badge badge-success">URL Encoder</a>
    <a href="{% url 'urlDecode' %}" class="badge badge-success">URL Decoder</a>
    </div>

</div>
